---
import Reach from "@/components/Reach";
import HeroSection from "../components/HeroSection";
import Navbar from "../components/Navbar";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Travel Guide to Jaipur</title>
  </head>

  <body class="text-gray-800 bg-[#F7EFE5]">
    <Navbar />
    <HeroSection />
    <main>
      <slot />
    </main>
    <Reach />
  </body>
</html>
