<nav
  class="flex justify-between items-center py-4 px-6 shadow-sm bg-white sticky top-0"
>
  <h1 class="text-xl font-bold text-orange-600">Jaipur Tourism</h1>

  <ul class="flex gap-6 text-gray-700">
    <li><a href="/">Home</a></li>
    <li><a href="/places">Places</a></li>
    <li><a href="/food">Food</a></li>
    <li><a href="/transport">Transport</a></li>
  </ul>
</nav>
